<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset='utf-8'>
  <title>Add a Post</title>
</head>
<body>
  <h1>ADD A POST</h1>
  <form action="/add_post" method="post">
    <input type="hidden" name="action" value="add_post">
    <fieldset>
      <legend>User Name</legend>
      <input type="text" name="username">
    </fieldset>
    <fieldset>
      <legend>Email of Poster</legend>
      <input type="email" name="user-email">
    </fieldset>
    <fieldset>
      <legend>Subject</legend>
      <input type="text" name="subject">
    </fieldset>
    <fieldset>
      <legend>Message</legend>
      <textarea name="message" rows=10 cols="60"></textarea>
    </fieldset>  
    <fieldset>
      <legend>City</legend>
      <input type="text" name="city">
    </fieldset>
    <fieldset>
      <legend>State</legend>
      <input type="text" name="state">
    </fieldset>
    <fieldset>
      <legend>Zipcode</legend>
      <input type="number" name="zipcode">
    </fieldset>  
    <fieldset>
      <legend>Languages that apply to Post</legend>
      <label>Spanish </label>
      <input type="checkbox" name="languages[]" value="{{  }}">
      <label>French </label>
      <input type="checkbox" name="languages[]" value="French">
      <label>German </label>
      <input type="checkbox" name="languages[]" value="German">
      <label>Italian </label>
      <input type="checkbox" name="languages[]" value="Italian">
      <label>Mandarin </label>
      <input type="checkbox" name="languages[]" value="Mandarin">
    </fieldset> 
    </fieldset>
    <fieldset>
      <legend>Submit Post</legend>
      <input type="submit" value="Post">
    </fieldset>
  </form>
  {% if posts | length > 0 %}
    <section>
        <h2>Edit Post Language Categories<h2>
          {% for p in posts %}
          <a href='/edit?key={{ p.key }}&type=post'>{{ p.subject }}</a>
          {% endfor %}
    </section>
    {% endif %}
    {% if message %}
    {% if confirmation_message %}
    {% endif %}     
</body>
</html>